/* add home page styles here */
#caught-so-far {
    margin-right: 10px;
    font-size: 2rem;
    margin-left: -20px;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

content>img {
    height: 200px;
    cursor: pointer;
}

#results-container {
    display: none;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

button {
    height: 50px;
    font-size: 1.5rem;
    letter-spacing: 10px;
    color: rgb(255, 0, 0);
    background-color: white;
    border: solid 3px lightgray;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    display: block;
    margin-top: 15px;
}

button:hover {
    color: white;
    background-color: red;
}

td>img {
    height: 100px;
}

thead {
    font-size: 1.5rem;
}

td {
    font-size: 1.2rem;
    vertical-align: middle;
}

th>img {
    width: 25px;
}

th:nth-child(3) {
    width: 75px;
}

td:nth-child(4) {
    font-weight: bolder;
}

div>img {
    margin-top: 20px;
}

#myChart {
    margin: 10px 10px 0px 10px;
}

.chart-container {
    padding: 20px 20px 0px 20px;
}

.pokemon {
    width: 50px;
    margin-top: -20px;
}

.pokemon-container {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
}